@import "tailwindcss";
@source "../views";
@theme {
    /* --color-primary: #059669;
    --color-secondary: #ffd23f;
    --color-reds: #ffd23f;
    --color-blue: #3c2eff;
    --color-purple: #d70ebd; */
}
